.admin-report-list article {
    border-top: 1px solid var(--text-primary);
    border-bottom: 1px solid var(--text-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}